***************************************************************
*                                                             *
* DRILL TAPE SUMMARY REPORT                                   *
*                                                             *
* E:\CALYX_FEMTO_2017-06-01\FINAL\CALYX_FEMTO_2017-06-01.MAX  *
* Sat Aug 19 14:03:29 2017                                    *
*                                                             *
***************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       118      1133     200      100                                                                                 
T2       157      45       200      100                                                                                 
T3       216      4        200      100                                                                                 
T4       217      56       200      100                                                                                 
T5       236      219      200      100                                                                                 
T6       260      168      200      100                                                                                 
T7       275      56       200      100                                                                                 
T8       300      4        200      100                                                                                 
T9       320      24       200      100                                                                                 
T10      340      12       200      100                                                                                 
T11      354      4        200      100                                                                                 
T12      360      70       200      100                                                                                 
T13      394      8        200      100                                                                                 
T14      410      84       200      100                                                                                 
T15      420      3        200      100                                                                                 
T16      421      60       200      100                                                                                 
T17      433      8        200      100                                                                                 
T18      472      4        200      100                                                                                 
T19      610      4        200      100                                                                                 
T20      630      6        200      100                                                                                 
T21      660      12       200      100                                                                                 
T22      748      5        200      100                                                                                 
T23      787      5        200      100                                                                                 
T24      827      8        200      100                                                                                 
T25      909      2        200      100                                                                                 
T26      1100     12       200      100                                                                                 
T27      1181     22       200      100                                                                                 
